@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@800&family=Shrikhand&display=swap");
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  min-width: 320px;
  background-color: #f2f2f2;
}

h1 {
  font-family: "Shrikhand", sans-serif;
  font-size: 1.5rem;
  font-weight: lighter;
  margin: 0;
}

h2, h4 {
  font-weight: bolder;
  margin: 0;
}

a {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
  color: black;
}

.btn {
  text-decoration: none;
  border-radius: 2rem;
  background: #9356dc;
  background: linear-gradient(348deg, #9356DC 0%, #FF79Da 100%);
  padding: 1rem 2.5rem 1rem 2.5rem;
  color: white;
  font-weight: bold;
  box-shadow: 0px 3px 10px #8f8f8f;
}
.btn:hover {
  filter: brightness(1.1);
  box-shadow: 0px 5px 10px #3b3638;
}

footer {
  position: absolute;
  width: 100%;
  min-width: 320px;
  background-color: #252525;
  color: white;
  padding: 0;
}

.list {
  list-style: none;
  height: 12rem;
  display: flex;
  flex-direction: column;
}
.list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.list__link:hover {
  text-decoration: underline;
}
.list__link:visited {
  text-decoration: none;
  color: white;
}
.list__item {
  display: flex;
  align-items: center;
  height: 2rem;
}
.list__item i {
  margin-right: 1rem;
}
.list img {
  filter: invert(1);
  width: 6rem;
  margin: 1rem 0 1rem 0;
}
.list .fa-hands-helping, .list .fa-utensils {
  width: 1rem;
}
@media screen and (min-width: 800px) {
  .list {
    text-align: center;
    align-items: center;
  }
}

@keyframes dishAppear {
  0% {
    transform: translateY(10rem);
    opacity: 0%;
  }
  25% {
    opacity: 5%;
  }
  100% {
    transform: translateY(0rem);
    opacity: 100%;
  }
}
@keyframes checked {
  0% {
    transform: rotateZ(100deg) scale(1.6);
  }
  50% {
    transform: rotateZ(-30deg) scale(1.6);
  }
  100% {
    transform: rotateZ(0deg) scale(1.6);
  }
}
.menu__dish, .restaurant__card {
  animation: dishAppear 0.6s;
  animation-timing-function: cubic-bezier(0, 1.1, 0.68, 1.04);
  animation-fill-mode: both;
  transform: scale(0);
}

.delay-0ms {
  animation-delay: 0ms;
}

.delay-100ms {
  animation-delay: 100ms;
}

.delay-200ms {
  animation-delay: 200ms;
}

.delay-300ms {
  animation-delay: 300ms;
}

.delay-400ms {
  animation-delay: 400ms;
}

.delay-500ms {
  animation-delay: 500ms;
}

.delay-600ms {
  animation-delay: 600ms;
}

.delay-700ms {
  animation-delay: 700ms;
}

.delay-800ms {
  animation-delay: 800ms;
}

.delay-900ms {
  animation-delay: 900ms;
}

.delay-1000ms {
  animation-delay: 1000ms;
}

.menu__dish__selected {
  background-color: #99E2D0;
  width: 0;
  margin-top: -0.5rem;
  margin-right: -1rem;
  margin-left: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: width 0.4s ease-in-out;
}
.menu__dish__selected__icon {
  transform: scale(1.6);
  filter: invert(1);
}
.menu__dish input {
  display: none;
}
input:checked ~ .menu__dish__selected {
  width: 5rem;
}
input:checked ~ .menu__dish__selected i {
  transform: scale(1.6);
  animation: checked 1s ease-in-out;
}

.menu__header__logo--filled {
  background: linear-gradient(#FF79Da, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
}
.menu__header__logo--filled:hover {
  opacity: 100%;
  transform: scale(2.3);
  transition: all 0.3s ease-in-out;
}

@-webkit-keyframes loaderLeft {
  0% {
    background-color: rgba(255, 255, 255, 0.2);
  }
  25% {
    background-color: #9356DC;
  }
  50% {
    background-color: rgba(255, 255, 255, 0.2);
  }
  75% {
    background-color: rgba(255, 255, 255, 0.2);
  }
  100% {
    background-color: rgba(255, 255, 255, 0.2);
  }
}
@keyframes loaderLeft {
  0% {
    background-color: rgba(255, 255, 255, 0.2);
  }
  25% {
    background-color: #9356DC;
  }
  50% {
    background-color: rgba(255, 255, 255, 0.2);
  }
  75% {
    background-color: rgba(255, 255, 255, 0.2);
  }
  100% {
    background-color: rgba(255, 255, 255, 0.2);
  }
}
@-webkit-keyframes loaderMid {
  0% {
    background-color: rgba(255, 255, 255, 0.2);
  }
  25% {
    background-color: rgba(255, 255, 255, 0.2);
  }
  50% {
    background-color: #FF79Da;
  }
  75% {
    background-color: rgba(255, 255, 255, 0.2);
  }
  100% {
    background-color: rgba(255, 255, 255, 0.2);
  }
}
@keyframes loaderMid {
  0% {
    background-color: rgba(255, 255, 255, 0.2);
  }
  25% {
    background-color: rgba(255, 255, 255, 0.2);
  }
  50% {
    background-color: #FF79Da;
  }
  75% {
    background-color: rgba(255, 255, 255, 0.2);
  }
  100% {
    background-color: rgba(255, 255, 255, 0.2);
  }
}
@-webkit-keyframes loaderRight {
  0% {
    background-color: rgba(255, 255, 255, 0.2);
  }
  25% {
    background-color: rgba(255, 255, 255, 0.2);
  }
  50% {
    background-color: rgba(255, 255, 255, 0.2);
  }
  75% {
    background-color: #99E2D0;
  }
  100% {
    background-color: rgba(255, 255, 255, 0.2);
  }
}
@keyframes loaderRight {
  0% {
    background-color: rgba(255, 255, 255, 0.2);
  }
  25% {
    background-color: rgba(255, 255, 255, 0.2);
  }
  50% {
    background-color: rgba(255, 255, 255, 0.2);
  }
  75% {
    background-color: #99E2D0;
  }
  100% {
    background-color: rgba(255, 255, 255, 0.2);
  }
}
.loader {
  position: absolute;
  width: 100%;
  height: 200%;
  top: 0;
  left: 0;
  background-color: #f6f6f6;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.8s 3s ease-in-out, transform 0.1s 3.8s ease-in-out;
}
.loader__animation:before {
  content: "";
  position: absolute;
  top: 0px;
  left: -25px;
  height: 12px;
  width: 12px;
  border-radius: 12px;
  -webkit-animation: loaderLeft 3s ease-in-out infinite;
  animation: loaderLeft 3s ease-in-out infinite;
}
.loader__animation {
  position: relative;
  width: 12px;
  height: 12px;
  top: 25%;
  left: 50%;
  border-radius: 12px;
  -webkit-animation: loaderMid 3s ease-in-out infinite;
  animation: loaderMid 3s ease-in-out infinite;
}
.loader__animation:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 25px;
  height: 12px;
  width: 12px;
  border-radius: 10px;
  -webkit-animation: loaderRight 3s ease-in-out infinite;
  animation: loaderRight 3s ease-in-out infinite;
}

.header {
  text-align: center;
}
.header__title {
  background-color: white;
  height: 3.5rem;
  box-shadow: 0px 5px 10px #3b3638;
}
.header__title img {
  width: 10rem;
}
.header__title__logo {
  padding-top: 1.2rem;
}
.header__location {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3f3f3;
  font-weight: bolder;
}
.header__location__text {
  margin-left: 1rem;
}
.header__presentation {
  height: 14rem;
  background-color: #FAFAFA;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}
.header__presentation h2 {
  font-weight: bolder;
  font-size: 1.5rem;
  width: 80%;
}
.header__presentation p {
  font-size: 0.9rem;
  width: 80%;
  margin-bottom: 2rem;
}
.header__presentation__btn {
  padding-right: 1rem;
  padding-left: 1rem;
}
.header__presentation__btn:visited {
  color: white;
}

.functionality {
  margin-top: -2rem;
  padding: 0.5rem 0 2rem 0;
  background-color: white;
  height: 23rem;
  counter-reset: countList;
}
.functionality h2 {
  font-size: 1.3rem;
  margin: 2rem 0 0 5%;
}
.functionality p {
  font-size: 0.85rem;
  font-weight: bold;
}
.functionality ol {
  margin-left: 7%;
  margin-right: 5%;
  padding: 0;
}
.functionality__description {
  height: 4rem;
  margin: 2rem 0 0 0;
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  border-radius: 1.2rem;
  width: 100%;
  box-shadow: 0px 3px 10px #8f8f8f;
  color: grey;
}
.functionality__description::before {
  counter-increment: countList 1;
  content: counter(countList) " ";
  background: #9356dc;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: relative;
  left: -0.5rem;
}
.functionality__description:hover {
  color: #9356DC;
  background-color: #efdced;
}
.functionality__description__text {
  color: black;
}
.functionality__description__logo, .functionality__description__text {
  margin-left: 5%;
}
@media screen and (min-width: 1024px) {
  .functionality {
    height: 10rem;
  }
  .functionality h2 {
    margin-left: 10%;
  }
  .functionality ol {
    margin-left: 3%;
    display: flex;
    width: 80%;
    margin-left: 10%;
  }
  .functionality__description {
    margin: 0 0 0 2rem;
  }
  .functionality__description::before {
    position: relative;
    left: -0.75rem;
  }
}

.restaurant {
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  background-color: #f6f6f6;
}
.restaurant__card {
  display: block;
  position: relative;
  border-radius: 1rem;
  background-color: white;
  margin-top: 2rem;
  box-shadow: 0px 3px 10px #8f8f8f;
}
.restaurant__card__image {
  height: 12rem;
  width: 100%;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}
.restaurant__card__symbol {
  font-size: 0.85rem;
  background-color: #99e2d0;
  color: #1b6150;
  padding: 0.4rem 0.7rem 0.4rem 0.7rem;
  border-radius: 0.25rem;
  position: absolute;
  top: 1rem;
  right: 0.75rem;
}
.restaurant__card__body {
  padding: 0.5rem;
  position: relative;
}
.restaurant__card__body__content {
  width: auto;
  height: 2rem;
  position: relative;
  top: 0.5rem;
}
.restaurant__card__body__content p {
  position: relative;
  top: -0.5rem;
}
.restaurant__card__body__btn {
  height: 2rem;
  width: 2rem;
}
@media screen and (min-width: 1024px) {
  .restaurant h2 {
    margin-left: 10%;
  }
  .restaurant__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    row-gap: 2rem;
    width: 80%;
    margin-left: 10%;
  }
  .restaurant__card__image {
    height: 16rem;
  }
}

.restaurant-header {
  width: 100%;
  text-align: center;
  height: 6rem;
}
.restaurant-header__logo {
  width: 12rem;
  padding-top: 2.5rem;
}
.restaurant-header .fa-arrow-left {
  position: absolute;
  left: 2%;
  top: 5%;
  text-decoration: none;
  color: black;
}
.restaurant-header .fa-arrow-left:visited {
  color: black;
}
@media screen and (max-width: 1023px) {
  .restaurant-header {
    height: 3.5rem;
  }
  .restaurant-header__logo {
    width: 9rem;
    padding-top: 1.2rem;
  }
  .restaurant-header .fa-arrow-left {
    position: absolute;
    top: 1.5rem;
  }
}

.banner {
  height: 20rem;
  width: 100%;
}
.banner__img {
  width: 100%;
  height: 20rem;
}
.banner img {
  object-fit: cover;
}

.menu {
  background-color: #f2f2f2;
  width: 100%;
  border-radius: 2rem 2rem 0 0;
  position: relative;
  top: -4rem;
}
.menu h1 {
  padding-top: 2rem;
  margin-left: 3%;
}
.menu__header {
  position: relative;
}
.menu__header__logo {
  position: absolute;
  top: 2.5rem;
  left: 90%;
  transform: scale(1.5);
}
.menu__part {
  padding-top: 2rem;
  margin-left: 3%;
}
.menu__part h4 {
  position: relative;
  font-weight: lighter;
}
.menu__part h4::before {
  content: "";
  position: absolute;
  bottom: -0.2rem;
  left: 1px;
  width: 2.5rem;
  height: 3px;
  background-color: #99E2D0;
}
.menu__dish {
  width: 90%;
  max-width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 1.2rem;
  margin-top: 1rem;
  padding: 0.5rem 1rem 0 3%;
  box-shadow: 0px 3px 10px #8f8f8f;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__dish__content {
  width: 80%;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu__dish__content span {
  width: 90%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  float: left;
  clear: left;
}
.menu__dish__content__bold {
  font-size: 1rem;
  margin-top: 0.5rem;
  font-weight: bolder;
}
.menu__dish__content__thin {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  width: 90%;
}
.menu__order {
  height: 12rem;
  width: 100%;
  text-align: center;
}
.menu__order a {
  position: relative;
  top: 6rem;
  color: white;
}
@media screen and (min-width: 1024px) {
  .menu__wrapper {
    width: 95%;
    display: flex;
    justify-content: space-between;
  }
  .menu__part {
    width: 100%;
    max-width: 95%;
  }
  .menu__order {
    height: 8rem;
  }
}

/*# sourceMappingURL=style.css.map */
