@mixin box-shadow {
    box-shadow: 0px 3px 10px rgb(114, 102, 107);
}

@mixin light-box-shadow {
    box-shadow: 0px 2px 10px #d5d5d5;
}

@mixin menu-margin {
    padding-top: 2rem;
    margin-left: 3%;
}

@mixin underline {
    content: '';
    position: absolute;
    bottom: -0.2rem; left: 1px;
    width: 2.5rem;
    height: 3px;
    background-color: $color-tertiary;
}