@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@800&family=Shrikhand&display=swap');
$roboto: 'Roboto', sans-serif;
$shrikand: 'Shrikhand', sans-serif;

$color-pirmary: #9356DC;
$color-secondary: #FF79Da;
$color-tertiary: #99E2D0;