@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@800&family=Shrikhand&display=swap');
$roboto: 'Roboto', sans-serif;
$shrikand: 'Shrikhand', sans-serif;

$color-primary: #9356DC;
$color-secondary: #FF79Da;
$color-tertiary: #99E2D0;

$animation-delay: 0ms, 100ms, 200ms, 300ms, 400ms, 500ms, 600ms, 700ms, 800ms, 900ms, 1000ms;